@use './vars.scss' as *;
@use './animation.scss' as *;
@use './mixin.scss' as *;

.not-found {
  flex: 1;
  @include card-page();
  @include flexCenter();

  h1 {
    @include pc-layout(){
      
    font-size: 32px;
    }

    @include sp-layout() {
      font-size: 18px;
    }
  }
}