@use './vars.scss' as *;
@use './animation.scss' as *;
@use './mixin.scss' as *;

.categories {
  @include card-page();
  flex: 1;
  padding: 16px;

  .category-list {
    user-select: none;

    .category-header {
      display: flex;
      justify-content: left;
      align-items: center;
      font-size: 18px;
      cursor: pointer;

      span {
        margin-right: 10px;
      }
    }

    .category-post-item {
      &>a {
        display: flex;
        justify-content: left;
        align-items: center;

        span {
          margin-right: 10px;
        }
      }
    }

    ul {
      margin-left: 20px;
    }

  }
}