@use './vars.scss' as *;
@use './animation.scss' as *;
@use './mixin.scss' as *;

// reset

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

::selection {
  background: var(--aurora-default-bg-color);
  color: var(--aurora-default-color);
}

body {
  font-family: $font-family-base;
  font-size: $font-size-base;
  font-weight: $font-weight-normal;
  color: $text-color;
  line-height: $line-height-base;
  user-select: none;
  scroll-behavior: smooth;
  text-shadow: 0 0 1px $bg-dark-dim;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

ul,
ol,
li {
  list-style-type: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  margin: auto;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}


a {
  color: inherit;
  text-decoration: none;
  outline: none;
  word-wrap: break-word;
}

button {
  border: none;
  outline: none;
}

input,
textarea,
button {
  appearance: none;
  -webkit-appearance: none;
  border: none;
  border-radius: 0;
}


.icon {
  width: 1.2em;
  height: 1.2em;
  line-height: 1.2em;
}


html,
body,
#app,
.layout {
  width: 100%;
  height: 100%;
  min-height: 100%;
  font-family: $font-family-base;

  @include pc-layout() {
    @include scrollBar();
  }
}



.medium-zoom-overlay {
  z-index: 888;
}

.medium-zoom-image--opened {
  z-index: 999;
}


.pagination {

  .prev,
  .next,
  .span,
  .page-number {

    width: 40px !important;
    height: 40px !important;
    margin: 4px !important;
  }

  .prev,
  .next,
  .page-number {
    &:hover {
      background-color: var(--aurora-default-bg-color) !important;
    }

    &.active {
      background-color: var(--aurora-default-color) !important;
    }
  }
}


// layout scss
.layout {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &>* {
    flex-shrink: 0;
  }

  &>header {
    min-height: 200px;
  }

  &>main {
    flex: 1;
    margin: 0 auto;
    user-select: text;
    position: relative;

    @include pc-layout() {
      width: 960px;
    }

    @include sp-layout() {
      width: 100%;
      background-color: rgba(255, 255, 255, 0.65)
    }

    .main-content {

      min-height: 100%;
      display: flex;
      flex-direction: column;

      &>main {
        flex: 1;
        @include card-page();
      }


    }
  }

  &>footer {
    min-height: 80px;
  }

  a {
    color: var(--aurora-default-color);
  }
}