@use './vars.scss' as *;
@use './animation.scss' as *;
@use './mixin.scss' as *;

.markdown-body {
  text-align: justify;
  font-size: $font-size-normal;
  line-height: $line-height-block;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 20px 0px;
    transition: color 0.3s ease;
    font-weight: bold;
    line-height: 1.5;

    &:hover {
      color: var(--aurora-default-color);
    }
  }


  h1+h2,
  h2+h3,
  h3+h4,
  h4+h5,
  h5+h6 {
    margin-top: 0;
    padding-top: 0;
  }

  @for $i from 1 through 6 {
    @include pc-layout {
      h#{$i} {
        font-size: $font-size-headings-base - $font-size-headings-step * $i;
      }
    }

    @include sp-layout {
      h#{$i} {
        font-size: $font-size-headings-base - $font-size-headings-step * $i - 4px;
      }
    }
  }

  @for $i from 1 through 6 {
    @include pc-layout {
      .icon-h#{$i} {
        font-size: $font-size-headings-base - $font-size-headings-step * $i + 4px;
      }
    }

    @include sp-layout {
      .icon-h#{$i} {
        font-size: $font-size-headings-base - $font-size-headings-step * $i - 4px;
      }
    }
  }

  i[class*=icon-h] {
    display: inline-block;
    width: 1em;
    font-weight: normal;
    margin-right: 4px;
  }

  p {
    word-break: break-all;

    &:last-child {
      margin-bottom: 0;
    }
  }

  pre {
    margin-left: 16px;
    margin-right: 16px;
  }

  pre,
  blockquote {
    margin-bottom: 25px;
  }

  div[class*=language-] {
    margin: 10px 0px;
  }

  pre {
    position: relative;
    padding: 36px 0 0;
    margin: 10px;

    &::before {
      content: ' ';
      position: absolute;
      top: 12px;
      left: 12px;
      height: 12px;
      width: 12px;
      background: $code-color-red;
      border-radius: 50%;
      box-shadow: 20px 0 $code-color-yellow, 40px 0 $code-color-green;
    }

    &:hover {
      .code-copy {
        opacity: 1;
      }
    }

    code {
      margin-top: 20px;
    }

    .code-copy {
      opacity: 0;
      position: absolute;
      top: 4px;
      right: 0;
      height: 36px;
      width: 36px;
      font-size: $font-size-large;
      line-height: 32px;
      text-align: center;
      color: #888;
      transition: all ease 0.3s;
    }
  }

  ol {
    margin: 16px 16px 16px 32px;
  }



  ol,
  ul {
    li {
      list-style: auto;

      p {
        margin-left: 0;
      }

      ol {
        margin-left: 32px;
      }

      ul {
        margin-left: 32px;
      }
    }
  }

  p,
  ol,
  ul {
    code {
      padding: 2px 4px;
      color: var(--aurora-default-color);
      font-size: $font-size-code;
      word-wrap: break-word;
      border-radius: 3px;
      background-color: $bg-dark;
    }
  }

  strong {
    font-weight: $font-weight-bold;
  }

  a {
    @include link;
  }

  blockquote {
    position: relative;
    padding: 36px 0;
    font-style: italic;
    box-shadow: $block-shadow;

    &>p {
      margin: 10px 46px;
    }

    .icon-blockquote-left {
      position: absolute;
      left: 0;
      top: 0;
      font-size: 32px;
    }

    .icon-blockquote-right {
      position: absolute;
      right: 0;
      bottom: 0;
      font-size: 32px;
    }
  }

  img {
    border-radius: 3px;

    box-shadow: $card-shadow;
    transition: all 0.3s ease-out, opacity 0.8s ease-out;
    border: 6px solid transparent;
    transition: all 0.3s ease-out;

    &:hover {
      border-color: var(--aurora-default-color);
    }
  }

  .table-container {
    margin: 0 16px 25px;
    max-width: 100%;
    overflow-x: auto;
    @include scrollBar;

    &>table {
      margin: 0 auto;
      border-radius: 3px;
      border-spacing: 2px;
      border-collapse: separate;
      border: 1px solid #dfdfdf;

      tr {
        height: 32px;
      }

      th {
        background-color: $bg-dark;
      }

      td,
      th {
        padding: 0 36px;
        border: 1px solid #dfdfdf;
      }
    }
  }
}