@use '../vars.scss' as *;
@use '../animation.scss' as *;
@use '../mixin.scss' as *;

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 10px;

  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;

    &>* {
      margin-right: 2px;
    }

    i[class*=icon-] {
      color: var(--aurora-default-color);
    }
  }

  .powered {
    margin: 4px 0;
  }


}