@use '../vars.scss' as *;
@use '../animation.scss' as *;
@use '../mixin.scss' as *;

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  @include pc-layout() {
    padding: 50px 0;
  }

  @include sp-layout() {
    padding-top: 20px;
    justify-content: space-between;
    background-color: $bg-dark;
    box-shadow: 0 0 10px $bg-dark-dim inset;
  }


  .title,
  .subtitle {
    font-family: $font-family-base;
    font-weight: 400;
    letter-spacing: 4px;

    @include pc-layout() {

      animation: fadeInDown 0.5s ease-out forwards;
    }

    @include sp-layout() {

      animation: fadeInDown 0.5s ease-out forwards;
    }
  }

  .title {
    transition: color 0.3s ease-out;

    @include pc-layout() {
      font-size: 38px;
      line-height: 60px;

      .subtitle {
        font-size: 28px;
      }

      &:hover {
        color: var(--aurora-default-color);
      }
    }

    @include sp-layout() {
      font-size: 44px;
      line-height: 56px;
    }
  }

  .subtitle {

    font-family: $font-family-base;
    font-weight: normal;

    @include pc-layout() {
      font-size: 22px;
      line-height: 32px;
    }

    @include sp-layout() {
      font-size: 20px;
      line-height: 30px;
    }
  }

  .menu {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
    overflow: hidden;

    background-color: $bg-dark;
    box-shadow: 0 0 10px $bg-dark-dim inset;
    transition: all 0.5s ease;
    animation: fadeIn 0.5s ease-out;

    @include pc-layout() {
      padding: 0 32px;
      height: 60px;

      &:hover {
        border-radius: 30px;
      }
    }

    @include sp-layout() {
      width: 100%;
      height: 56px;
    }

    .menu-item {
      color: $text-color;
      width: 50px;
      transition: color 0.3s ease;

      @include pc-layout() {
        font-size: $font-size-large;

        &:hover {

          color: var(--aurora-default-color);
        }
      }

      @include sp-layout() {

        font-size: $font-size-normal;
      }

      li {

        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;

        &>i {
          line-height: 1.2;
        }
      }
    }
  }
}