@use '../vars.scss' as *;
@use '../animation.scss' as *;
@use '../mixin.scss' as *;

.quote {
  width: 100%;
  @include flexColumnCenter();
  margin-bottom: 16px;


  @include sp-layout() {
    padding: 0;
  }

  .quote-content {
    letter-spacing: 1px;
    font-size: 18px;
  }

  span[class*=quote-icon-] {
    font-size: 28px;

    @include sp-layout {
      font-size: 20px;
    }
  }

  .quote-icon-left {

    align-self: flex-start;
  }

  .quote-icon-right {
    align-self: flex-end;
  }

}