@use '../vars.scss' as *;
@use '../animation.scss' as *;
@use '../mixin.scss' as *;

.quote {
  width: 100%;
  @include flexColumnCenter();
  position: relative;
  margin-bottom: 16px;
  padding: 32px 0;

  .quote-content {

    letter-spacing: 1px;
    font-size: 18px;
  }

  i {
    position: absolute;
    font-size: $font-size-icon;

    &:first-child {
      top: 0;
      left: 16px;
    }

    &:last-child {
      bottom: 0;
      right: 16px;

    }
  }
}